
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #ecececdb;
}

.home-image {
    position: relative;
    text-align: center;
  }
  
  .home-image img {
   display: none;
  }
  
  .search-bar-container {
    position: relative;
    /* transform: translate(-50%, 30%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .search-bar {
    padding: 10px;
    width: 50vw;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .search-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  

.home-image img {
    height: 120vh;
    width: 99vw;
    opacity: 0.9;
}

.tag-head {
    margin-left: 145px;
    margin-top: 50px;
    max-width: 1280px;
    font-size: 2.4rem;
    font-weight: 600;
}

h2.tag-head.text-center.mb-5{
  margin-left: 125px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1250px;
    margin: 30px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    color: #000;
}

.card-list .card-item:hover {
    box-shadow: -2px 2px 10px rgba(0,0,0,0.7);
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-item h3 {
    color: #000;
    font-size: 1.3rem;
    margin-top: 28px;
    font-weight: 600;
}
 
.card-item .price {
    color:#000;
    font-size: 1.2rem;
    padding-top: 9px;
    font-weight: 500;
}


/*  Locations */

.container{
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}
.container .search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #323334;
    padding: 0 15px 0 45px;
    color: #fff;
    border-radius: 6px;
}
.search-box i{
    position: absolute;
    z-index: 2;
    color: #999;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
}
.container .images .image-box{
    position: relative;
    height: 300px;
    width: 210px;
    border-radius: 6px;
    overflow: hidden;
}
.images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.images .image-box{
    margin: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.images .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
    
}
.image-box:hover img{
    transform: scale(1.05);
    cursor: pointer;
}
.image-box h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}


h3.text-center.mb-4 {
  font-size: x-large;
  font-weight: 500;
}




@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}

@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .tag-head {
        font-size: 1.8rem;
    }
    .home-image img {
        display: none;
    }
    .card-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .images .image-box {
        width: 45vw;
        height: 50vh;
    }
    .card-item h3 {
        font-size: 2.5vw;
    }
    .card-item .price {
        font-size: 2vw;
    }
    .images .image-box {
        width: 40%;
        height: 180px;
    }
    .images .image-box h6 {
        font-size: 1.2rem;
    }
}
@media (max-width: 576px) {
    .search-bar-container {
        flex-direction: column;
    }
    .search-bar {
        width: 100%;
        margin-bottom: 10px;
    }
    .home-image img {
        display: none;
    }
    .card-list {
        gap: 9px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-item h3 {
        font-size: 3vw;
    }
    .card-item .price {
        font-size: 2.5vw;
    }
    .images {
        justify-content: center;
    }
    .images .image-box {
        width: 40vw;
        height: 160px;
    }
    .images .image-box h6 {
        font-size: 1rem;
    }
    .tag-head {
        font-size: 15px;
    }
}
@media (max-width: 480px) {
    .home-image img {
        display: none;
    }
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 9px;
    }
    .location {
        font-size: 2vw;
    }
    .card-item h3 {
        font-size: 3vw;
    }
    .card-item .price {
        font-size: 2vw;
    }
    .images {
        justify-content: center;
    }
    .images .image-box {
        width: 40vw;
        height: 160px;
    }
    .images .image-box h6 {
        font-size: 1rem;
    }

}
