
<div *ngIf="hotels && hotels.length > 0" class="hotel-container">
    <button class="back-button2" (click)="goBack()"><i class="bi bi-arrow-left"></i>Back</button>
    <h3 class="mb-3 text-center hotel-head fs-5">Hotels in {{ city }}</h3><hr>
    <div *ngFor="let hotel of hotels" class="card-list" (click)="viewHotelDetails(hotel)">
        <a class="card-item2">
            <img [src]="hotel.images[0]" alt="{{ hotel.name }}" />
        </a>
        <div class="h-name mt-2">
            <div class="star-name d-flex align-items-center">
                <h3 class="hotel-name">{{ hotel.name }}</h3>
                <div>
                    <!-- Render full stars -->
                    <i
                      class="bi bi-star-fill"
                      *ngFor="let _ of getStarArray(hotel.ratings.averageRating).fullStars"
                      style="color: gold;"
                    ></i>
                    <!-- Render half stars -->
                    <i
                        class="bi bi-star-half"
                        *ngFor="let _ of getStarArray(hotel.ratings.averageRating).halfStars"
                        style="color: gold;"
                    ></i>
                    <!-- Render empty stars -->
                    <i
                      class="bi bi-star"
                      *ngFor="let _ of getStarArray(hotel.ratings.averageRating).emptyStars"
                      style="color: gray;"
                    ></i>
                </div>
            </div>
            <p class="location mb-2">{{ hotel.description }}</p>
            <p class="location mb-2"><i class="bi bi-geo-alt-fill"></i>{{ city }}</p>
            <div class="d-flex m-0">
                <p id="rate">{{ hotel.ratings.averageRating }} </p>
                <p> ({{ hotel.ratings.ratingsCount }} Ratings)</p>
            </div>
        </div>
        <div class="price d-flex flex-column">
            <div class="bank-offer p-1" *ngIf="hotel.bankOffer">
                <p class="pb-1">Bank Offer | <i class="bi bi-currency-rupee"></i>{{ hotel.bankOffer.discount }} off</p>
                <hr />
                <p class="pt-1">{{ hotel.bankOffer.details }}</p>
            </div>
            <div>
                <h3><i class="bi bi-currency-rupee"></i>{{ hotel.pricePerNight }}</h3>
                <p>+ Taxes & Fees</p>
                <p>Per Night</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="hotels && hotels.length === 0" class="no-hotels">
    <p>No hotels found for {{ city }}</p>
</div>
