<nav>
    <div>
        <img routerLink="/" src="https://res.cloudinary.com/dnncpaqsn/image/upload/c_fill,w_1000,h_300,g_auto/v1737810186/1-removebg-preview_fuqp1c.png" class="logo-img"/>
    </div>
    <ul>
        <li routerLink="/">Home</li>
        <li routerLink="/hotel">Hotel</li>
        <li routerLink="/flight">Flight</li>
        <li routerLink="/tour">Tour</li>
        <li routerLink="/cab">Cab</li>
        <select (change)="onNavigate($event)">
            <option disabled selected>Pages</option>
            <option value="/flight/booking/cancel">Cancel Booking</option>
            <option value="/flight/booking/history">Booking History</option>
        </select>
    </ul>
</nav>