<!-- <div *ngIf="hotels && hotels.length > 0" class="hotel-container">
    <h3>Hotels in {{ city }}</h3>
    <div class="card-list">
        <div *ngFor="let hotel of hotels" class="card-item2">
            <img src="https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="{{ hotel.name }} Image">
            <div class="h-name">
                <h3 class="hotel-name">{{ hotel.name }}</h3>
                <p class="location"><i class="bi bi-geo-alt-fill"></i> {{ city }}</p>
                <h4><i class="bi bi-currency-rupee"></i>{{ hotel.pricePerNight }}/Night</h4>
                <p><strong>Rooms Available:</strong> {{ hotel.roomsAvailable }}</p>
                <p><strong>Amenities:</strong> {{ hotel.amenities }}</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="hotels && hotels.length === 0" class="no-hotels">
    <p>No hotels found for {{ city }}</p>
</div> -->


<div class="hotel-container">
  <!-- <button class="back-button2" (click)="goBack()"><i class="bi bi-arrow-left"></i>Back</button> -->
  <h3 class="m-3 text-center">Available Rooms in {{ hotel.name }}</h3>

  <div class="filter-container">
    <div class="filter-item">
      <label for="checkInDate">Check-in Date:</label>
      <input type="date" id="checkInDate" [(ngModel)]="checkInDate" name="checkInDate">
    </div>
    <div class="filter-item">
      <label for="checkOutDate">Check-out Date:</label>
      <input type="date" id="checkOutDate" [(ngModel)]="checkOutDate" name="checkOutDate">
    </div>
    <div class="filter-item">
      <label for="roomCount">Number of Rooms:</label>
      <select id="roomCount" [(ngModel)]="roomCount" name="roomCount">
        <option [ngValue]="1">1 Room</option>
        <option [ngValue]="2">2 Rooms</option>
        <option [ngValue]="3">3 Rooms</option>
        <option [ngValue]="4">4 Rooms</option>
        <option [ngValue]="5">5 Rooms</option>
      </select>
    </div>
    <button class="filter-button" (click)="applyFilter()">Search</button>
  </div>
  <div *ngIf="rooms && rooms.length > 0 && showrooms" class="main">
    <!-- <div class="headline d-flex pt-3">
      <h4 class="text-start p-4 pt-1 pb-2" style="width: 30%;">Room Type</h4>
      <h4 class="text-start p-4 pt-1 pb-2" style="width: 30%;">Benefits</h4>
      <h4 class="text-center p-4 pt-1 pb-2" style="width: 40%;">Per Night Price</h4>
    </div> -->

    <div class="card-list" *ngFor="let room of rooms">
      <div class="card-item2 p-4">
        <img [src]="room.images[0]" alt="{{ room.type }} Image">
        <h5 class="pb-2">{{ room.type }}</h5>
        <p>Comfortable and modern {{ room.type }} to meet your needs.</p>
        
        <div class="benefits">
          <ul>
            <li *ngFor="let benefit of room.benefits.slice(0, room.benefits.length / 2)">
              <i class="bi bi-check2-circle"></i>{{ benefit }}
            </li>
          </ul>
          <ul>
            <li *ngFor="let benefit of room.benefits.slice(room.benefits.length / 2)">
              <i class="bi bi-check2-circle"></i>{{ benefit }}
            </li>
          </ul>
        </div>
      
      </div>
      
      
      
      <div class="h-name">
        <div class="star-name">
          <h5 class="hotel-name p-4 pb-0">Room with {{room.benefits[0]}}</h5>
          <div class="breakfast p-4">
            <i class="bi bi-house-door"></i> {{hotel.description}} <br><br>
            <i class="bi bi-cup-hot"></i> {{room.description}}
          </div>
          <h5 class="hotel-name p-4 pb-0">Rooms Available: {{room.availableRooms}}</h5>
        </div>
      </div>

      <div class="price d-flex flex-column align-items-end p-4">
        <div class="bank-offer p-1">
          <!-- <p class="pb-1">Bank Offer | <i class="bi bi-currency-rupee"></i>500 off</p> -->
          <hr />
          <!-- <p class="pt-1">{{ room.pricePerNight - 500 }}</p> -->
        </div>
        <div>
          <h3 class="room-price"><i class="bi bi-currency-rupee"></i>{{ room.pricePerNight }}</h3>
          <p class="taxes">+ Taxes & Fees</p>
          <p class="taxes">Per Night</p>
        </div>
        <!-- <div class="cancel-before">
          <p>Before : {{ hotel.checkin }} INR0 (Free Cancellation) </p>
          <p>0%</p>
          <p>From : {{ hotel.checkout }} INR 100%</p>
        </div> -->

        <!-- Book Now Button -->
        <button class="btn btn-primary select-room-btn" (click)="goToPage(hotel.id, room.roomId)">Book Now</button>
      </div>
    </div>
  </div>
  <div *ngIf="rooms && rooms.length === 0" class="no-rooms">
    <p>No available rooms matching your criteria.</p>
  </div>
</div>



<!-- <div  class="no-hotels">
    <p>No hotels found for </p>
</div> -->