/******************************************* Rating ***********************************/


.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    color: black;
  
  }
  
  .rating-box2 {
    width: 13%;
    height: 90%;
    background-color: #316FF6;
    color: #fff;
    border-radius: 8px;
  
  }
  
  .rating-box3 {
    width: 35%;
    height: 90%;
  
  }
  
  .star i {
    margin-right: 2px;
  }
  
  
  
  .rating-box4{
    width: 50%;
    border: 1px solid #E2DFD2;
    height: 90%;
    border-radius: 12px;
  }
  
  /* Back Button Styling */
  .back-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: linear-gradient(45deg, #007bff, #0056b3);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 2rem;
    transition: all 0.3s ease;
    margin-top: 5%; 
  }
  
  .back-btn:hover {
    background: linear-gradient(45deg, #0056b3, #004085);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
  }
  
  
  .back-btn:active{
    transform: scale(0.98);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  

  .amenities {

    width: 90vw;
    background-color: #fff;
    margin: 2rem auto;
    padding: 1.2rem;
    border-radius: 9px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
  }
  
  
  .amenity-list {
  
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    padding: 0 2rem;
    font-family: Poppins, sans-serif !important;
    display: grid;
  gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    
  
  }
  .list-item {
    color: black
  
  }
  
  .dib {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .dib i {
    font-size: 23px;
  }
  
  .checkin-out {
    display: flex;
    gap: 50px;
  }
  
  .checkin-out h5 {
    font-size: 1rem;
  }
  
  .rules ul {
    list-style: none;
  }
  
  .rules ul li {
    font-weight: 400;
  }
  

  .reviews-container {
    max-height: 180px; 
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.review-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-rating {
    color: #FFD700; /* Gold color for stars */
    margin-bottom: 5px;
}

.review-comment {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.review-date {
    font-size: 12px;
    color: #888;
}

.no-reviews {
  font-size: 16px;
  color: #480404;
  text-align: center;
  margin-top: 20px;
  margin: 37px;
}