<div class="amenities">
    <h4 class="mb-2">Guest Reviews & Rating </h4>
    <hr>
    <div class="rating mt-3">
        <!-- Rating display for overall rating and review count -->
        <div class="rating-box2 d-flex flex-column align-items-center justify-content-center">
            <h4 class="fw-normal">Rating</h4>
            <div class="rate d-flex align-items-baseline m-1">
                <h2 class="fw-semibold">{{ hotelDetails?.ratings?.averageRating }} /</h2>
                <h5>5</h5>
            </div>
            <h6 class="fw-normal">{{ hotelDetails?.ratings?.ratingsCount }} Rating(s)</h6>
        </div>

        <!-- Display the rating breakdown per rating level (1 to 5 stars) -->
        <div class="rating-box3">
            <div class="d-flex m-3">
                <div class="flex-grow-1">
                    <div class="row d-flex align-items-center mt-1" *ngIf="ratingsData?.ratingBreakdown">
                        <div class="col-4 text-right star"> 5
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="col-8">
                            <div class="progress" style="height: 8px;">
                                <!-- The progress bar width is calculated based on the 5-star rating percentage -->
                                <div class="progress-bar" style="background-color: #008000;" role="progressbar"
                                    [style.width]="getRatingPercentage('5')" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center mt-1" *ngIf="ratingsData?.ratingBreakdown">
                        <div class="col-4 text-right star"> 4
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="col-8">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar" style="background-color: #90EE90;" role="progressbar"
                                    [style.width]="getRatingPercentage('4')" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center mt-1" *ngIf="ratingsData?.ratingBreakdown">
                        <div class="col-4 text-right star"> 3
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="col-8">
                            <div class="progress " style="height: 8px;">
                                <div class="progress-bar" style="background-color: #FFFF00;" role="progressbar"
                                    [style.width]="getRatingPercentage('3')" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center mt-1" *ngIf="ratingsData?.ratingBreakdown">
                        <div class="col-4 text-right star"> 2
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="col-8">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar" style="background-color: #FFA500;" role="progressbar"
                                    [style.width]="getRatingPercentage('2')" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center mt-1" *ngIf="ratingsData?.ratingBreakdown">
                        <div class="col-4 text-right star"> 1
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="col-8">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar" style="background-color: #FF4D4D;" role="progressbar"
                                    [style.width]="getRatingPercentage('1')" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Display the reviews -->
        <div class="rating-box4">
            <div class="reviews-container" *ngIf="sortedReviews.length > 0; else noReviews">
                <div *ngFor="let review of sortedReviews" class="review">
                <h5 class="review-author">{{ review.author }}</h5>
                <div class="review-rating">
                    <i class="bi bi-star-fill" *ngFor="let star of [].constructor(review.rating)"></i>
                </div>
                <p class="review-comment">{{ review.comment }}</p>
                <span class="review-date">{{ review.date | date: 'medium' }}</span>
                </div>
            </div> 
            <ng-template #noReviews>
                <div class="no-reviews">
                <i class="bi bi-emoji-frown"></i>
                <p>No reviews available for this hotel yet.</p>
                <p>Be the first to review this hotel.</p>
                </div>
            </ng-template>
        </div>  
    </div>
</div>