<app-header></app-header>
<ngx-spinner bdColor = "white" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><div class="spinner"></div><p style="color: rgb(0, 0, 0)" > Loading... </p></ngx-spinner>

<div class="container" *ngIf="isFetched && !isFailure">
  <div class="booking-container">
    <h1 class="title">Booking History</h1>
    <hr class="main-divider" />

    <div class="no-result-found" *ngIf="combinedData.length < 1">
      <img
        src="https://cdni.iconscout.com/illustration/premium/thumb/error-404-illustration-download-in-svg-png-gif-file-formats--no-results-service-landing-page-security-empty-state-pack-design-development-illustrations-3613889.png?f=webp"
        alt="No Results Found"
        class="no-results-image"
      />
      <h2>Booking History Empty</h2>
    </div>

    <!-- Booking List -->
    <ul class="booking-list" *ngIf="combinedData.length > 0">
      <li *ngFor="let data of combinedData" class="booking-item">
        <div class="route-details">
          <div class="departure">
            <h1 class="place">{{ data.departure.place }}</h1>
            <p class="label">Departure</p>
          </div>
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
          <div class="destination">
            <h1 class="place">{{ data.destination.place }}</h1>
            <p class="label">Destination</p>
          </div>
        </div>
        <hr class="divider" />
        <div class="flight-details">
          <div class="airline">
            <img class="airline-img" [src]="data.logo" [alt]="data.airline" />
            <p class="airline-name">{{ data.airline }}</p>
            <p class="flight-number">FNO: {{ data.flightNumber }}</p>
          </div>
          <div class="date">
            <p class="label">Date</p>
            <p class="value">{{ data.departure.date }}</p>
          </div>
          <div class="time">
            <p class="label">Time</p>
            <p class="value">{{ data.departure.time }}</p>
          </div>
          <div class="duration">
            <p class="label">Duration</p>
            <p class="value">{{ data.duration }}</p>
          </div>
          <div class="time">
            <p class="label">Tickets</p>
            <p class="value">{{ data.bookings.passengers.length }}</p>
          </div>
          <div class="price">
            <p class="label">Total Price</p>
            <p class="value">$ {{ data.bookings.totalAmount }}</p>
          </div>
          <div class="price">
            <p class="label">Status</p>
            <p class="value">{{ data.bookings.bookingStatus }}</p>
          </div>
        </div>
        <p class="reason" *ngIf="!data.isActive">Due to a technical issue, the service has been stopped.Within 7 days, you will receive the refund.</p>
        <button type="button" (click)="onOpenView(data.id)" class="button">
          View Details
        </button>
      </li>
    </ul>
  </div>
</div>

<div class="failure-container" *ngIf="isFailure">
  <img src="https://forum.hestiacp.com/uploads/default/original/2X/9/9aae76309a614c85f880512d8fe7df158fec52cc.png" alt="failure view"/>
  <button (click)="onRetry()">Retry</button>
</div>

<!-- Modal for Passenger Details -->
<div class="modal model1" *ngIf="isView">
  <div class="modal-content modal-content1">
    <span class="close" (click)="onCloseView()">&times;</span>
    <h2>Passenger Details</h2>
    <ul>
      <li *ngFor="let passenger of selectedPassengers">
        <p><strong>Name:</strong><span>........</span>{{ passenger.name }}</p>
        <p><strong>Age:</strong><span>...........</span>{{ passenger.age }}</p>
        <p><strong>Gender:</strong><span>.....</span>{{ passenger.gender }}</p>
        <p><strong>Passport:</strong><span>..</span>{{ passenger.passportNumber }}</p>
        <p><strong>Phone no:</strong> {{ passenger.phoneNumber }}</p>
      </li>
    </ul>
  </div>
</div>
