<!-- <header>
    <nav class="navbar">
        <a>PlanHub</a>
        <ul class="nav-links">
            <li><a href="#">Dashboard</a></li>
            <li class="center"><a href="#">Portfolio</a></li>
            <li class="upward"><a href="#">Services</a></li>
            <li class="forward"><a href="#">Feedback</a></li>
        </ul>
    </nav>
</header> -->

<nav class="">
    <div class="nav-content">
        <div class="logo">
            <a href="#">Plan N Go</a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="/about" routerLinkActive="active">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="/contact" routerLinkActive="active">Contact</a></li>
        </ul> 
    </div>
</nav>


