<div class="tw-text-center tw-justify-center tw-items-center">

    <div class="tw-max-w-md tw-mx-auto tw-mb-8">
        <label for="default-search" class="tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-sr-only dark:tw-text-white">Search</label>
        <div class="tw-relative">
            <div class="tw-absolute tw-inset-y-0 tw-start-0 tw-flex tw-items-center tw-ps-3 tw-pointer-events-none">
                <svg class="tw-w-4 tw-h-4 tw-text-gray-500 dark:tw-text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" [(ngModel)]="query" id="default-search" class="tw-block tw-w-full tw-p-4 tw-ps-10 tw-text-sm tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-bg-gray-50 focus:tw-ring-blue-500 focus:tw-border-blue-500 dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-placeholder-gray-400 dark:tw-text-white dark:focus:tw-ring-blue-500 dark:focus:tw-border-blue-500" placeholder="Search Packages..." required />
            <button type="submit" (click)="performSearch()" class="tw-text-white tw-absolute tw-end-2.5 tw-bottom-2.5 tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-4 tw-py-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 dark:focus:tw-ring-blue-800">Search</button>
        </div>
    </div>




    <div *ngIf="searchResults.length > 0" class="tw-px-20 tw-py-5 tw-w-[800px] tw-mx-auto tw-bg-white tw-opacity-70 tw-rounded-2xl">
        <h1 class="tw-text-[20px] tw-font-bold">Search Results</h1>
        <ul class="tw-list-disc ">
            <div *ngFor="let result of searchResults" class="tw-mt-1 tw-text-center  tw-py-2 tw-justify-center">
                <div class="tw-flex tw-my-auto">
                    <img [src]=result.image class="tw-h-20 tw-w-40 tw-object-cover  tw-mx-5 tw-rounded-lg">
                    <div class="tw-my-auto tw-mx-4 tw-text-wrap tw-w-1/2">
                        <h3 class="tw-text-xl tw-font-semibold tw-px-10  tw-align-baseline">{{ result.name }} - {{ result.price }}</h3>
                        <p class="tw-align-baseline">{{result.description2}}</p>

                    </div>
                    <button [routerLink]="['/tour/tours', result.id]"  class=" tw-w-1/4 tw-my-auto tw-bg-black tw-h-10 tw-text-white tw-px-3 ">View Details</button>
                </div>

            </div>
        </ul>
    </div>


</div>
