
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #333;
  
}


.booking-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.booking-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.route-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.departure, .destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.place {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

.route-details .fa-solid {
  font-size: 1.5rem;
  color: #007bff;
  margin: 0 20px;
}

.flight-details {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
  flex-wrap: wrap;
}

.flight-details > div {
  margin: 5px 0;
}

.airline-img{
  width: 50px;
  height: 50px;
}

.airline-name {
  font-weight: bold;
  color: #333;
}

.flight-number {
  font-size: 0.9rem;
  color: #555;
}

.label {
  font-size: 0.9rem;
  color: #777;
}

.value {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.divider {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}
.modal-content {
background: #fff;
padding: 20px;
border-radius: 8px;
width: 400px;
max-height: 80%;
position: relative;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.close {
position: absolute;
top: 10px;
right: 15px;
font-size: 1.5rem;
font-weight: bold;
color: #333;
cursor: pointer;
}

.close:hover {
color: red;
}

.modal-content ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.modal-content li {
margin-bottom: 15px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}

.modal-content p {
margin: 5px 0;
}



.flight-container {
  display: flex;
  height: 100vh; 
  overflow: hidden; 
  /* background-image: url("https://i.pinimg.com/736x/b1/f8/e7/b1f8e797eaa67b5c89e3df1316bcfc1e.jpg");     */
  background-image: url("https://i.pinimg.com/736x/23/fd/cb/23fdcb0e65df24eb742b0fccbbddc65b.jpg");
  padding-top: 70px;
  background-size: cover;
}

.sort-container{
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.sort-container h1{
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.sortPrice{
  background: #299cfa;
  border: 5px solid #299cfa;
  outline: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  color: #fff;
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
  height: 45px;
}

.sortPrice option{
  background-color: #5ab0f7;
  color: #fff;
}
.sortPrice option:hover{
  background-color: #ffffff;
  color: #fff;
}

.sort-container button{
  margin-right: 15px;
  color: #ffffff;
  background-color: #299cfa;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #ffffff;
  padding:10px;
  border-radius: 30px;
}
.sort-container button i {
  color: #fff;
  font-size: 18px;
  margin-right: 8px;
  border:none;
  padding: 0px;
}

#clearFilter-btn{
  background-color: transparent;
  color: #299cfa;
  border: 2px solid #299cfa;
}

#clearFliter-btn i {
  color: #299cfa;
  font-size: 18px;
  border:none;
  padding: 0px;
}

.sort-container i {
  color: #ffffff;
  font-size: 20px;
  border-left: 2px solid #fff;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.filters-container {
  width: 350px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

.modal1{
  background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-content1{
  background-color: #8fd3f4;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.range-date{
  display: flex;
  gap: 10px;
}

.range-date div{
  width: 48%;
}

.filters-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}

.filters-container form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 100%;
}



.filters-container form label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 5px;
}

.filters-container form input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 40px;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

.filters-container form input:focus {
  box-shadow: 0 0 4px #1565c0;
}

.filters-container button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #299cfa;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-container button:hover {
  background-color: #2196f3; 
  transform: translateY(-3px) scale(1.05); 
  color: #ffeb3b; 
}


.secondary-btn {
  background-color: #ffffff;
  color: #1e88e5;
  border: 2px solid #1e88e5;
  text-align: center;
}

.flight-btn{
  margin-right: 5px;
  
}

.secondary-btn:hover {
  background-color: #1565c0;
  color: white;
}

.filters-container button,
.filters-container form {
  text-align: left;
}

.filters-container form input::placeholder {
  color: #cccccc;
}
.search-clear-btn{
  display: flex;
  align-items: center;
}


.secondary-btn {
  width: 100%;
  padding: 10px;
  background-color: #1565c0;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
}

.secondary-btn:hover {
  background-color: #0d47a1;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.content h2 {
  color: white;
}

.airline-img{
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header select {
  padding: 5px;
}

.flights {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: auto;
    overflow: auto;
}

.flights::-webkit-scrollbar {
  width: 8px;
}

.flights::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border:1px solid white;
  border-radius: 10px;
}

.flights::-webkit-scrollbar-track {
  background-color: transparent;
}

.route-details{
  background-color: white;
  border-radius: 50px;
}

.class-type-container{
  display: flex;
  flex-direction: column;
}

.class-type{
  margin-top: 10px;
  font-size: 16px;
  height: 30px;
  border-radius: 35px;
  border: 5px solid #fff;
  outline: none;
}

#class-type{
  text-align: right;
  color: #666;
  background-color: white;
  position: absolute;
  right: 15px;
  top: 5px;
  padding: 8px;
  border-radius: 20px;
}

.class-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}

.Economy {
  background-color: rgb(52, 202, 52);
  color: rgb(52, 202, 52);
}

.Business {
  background-color: rgb(47, 47, 230);
  color: rgb(47, 47, 230);
}

.First-class {
  background-color: gold;
  color: gold;
}

.booking-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px,1fr)); 
  gap: 20px;
  padding: 0;
  list-style: none;
}

.booking-item {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  color: #555; 
  font-weight: bold; 
  padding-top: 40px;
}

.booking-item:hover {
  box-shadow: 0 15px 25px #ffeb3b, 0 0 15px #ffeb3b; 
  border: 1px solid #ffeb3b;
  color: #42a5f5; 
}

.booking-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(66, 165, 245, 0.4), rgba(0, 0, 0, 0));
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.booking-item:hover::before {
  opacity: 1; 
}

.booking-item::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: linear-gradient(90deg, #42a5f5, #64b5f6, #42a5f5);
  border-radius: 15px;
  z-index: -1;
  transition: transform 0.4s linear;
  transform: scale(0.95);
}

.booking-item:hover::after {
  transform: scale(1.1); 
}

.flight-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}
.depature{
  margin-left: 10px;
}
.destination{
  margin-right: 10px;
}
.place {
  font-size: 1.3rem;
  font-weight: bold; 
  color: #666; 
}

.place:hover {
  color: #2196f3; 
}

.book-btn-container {
  display: flex;
  justify-content: center; 
  margin-top: 15px; 
}

.book-btn {
  background-color: #42a5f5; 
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold; 
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  margin-right: 10px;
}

.book-btn:hover {
  background-color: #2196f3; 
  transform: translateY(-3px) scale(1.05); 
  color: #ffeb3b; 
  border: 2px solid #ffeb3b; 
}

.view-details-btn{
  background-color: #ffffff; 
  color: #42a5f5;
  padding: 12px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #42a5f5;
  cursor: pointer;
  font-weight: bold; 
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  margin-right: 10px;
}
.view-details-btn:hover {
  border: 2px solid #ffffff; 
  background-color: #2196f3; 
  transform: translateY(-3px) scale(1.05); 
  color: #fff; 
}
.no-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.no-found h1{
  margin-top: -60px;
  color: #0059ff;
}
.no-found p{
  color: #1767fc;
  font-weight: 600;
}
.popup-container {
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.logo-fl-number{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-img{
  height: 100px;
  width: 100px;
}

.flight-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.flight-details-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}

#view-details-title{
  color: #53bef3;
}

.flight-details-section p {
  margin: 8px 0;
  font-size: 14px;
  color: #333;
  width: 160px;
  text-align: center;
}

.flight-no{
  color: #fff;
}

.flight-details-section p strong {
  color: #555;
  font-weight: bold;
}

@media (max-width: 768px) {
  .flight-details-section {
      flex: 1 1 100%; 
  }
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  color: #555;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-result-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-result-found img{
  width: 300px;
  height: 300px;
}

.no-result-found h2{
  color: #fdc713;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-top: -40px;
}

.failure-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.failure-container button{
  color: white;
    background-color: #225af5;
    border: none;
    outline: none;
    padding: 13px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}